@mixin column-width($size) {
	-o-column-width: $size;
	-ms-column-width: $size;
	-moz-column-width: $size;
	-webkit-column-width: $size;
	column-width: $size;
}

@mixin column-gap($size) {
	-o-column-gap: $size;
	-ms-column-gap: $size;
	-moz-column-gap: $size;
	-webkit-column-gap: $size;
	column-gap: $size;
}

.hero-masonry{
	font-family: $museo-regular;
	.ra-banner {
		text-align: center;
		font-family: $museo-light;
		background: $quinary-blue;
		color: $primary-white;
		padding-top: 10rem;
		padding-bottom: 10rem;
		h1 {
			font-size: 2.5rem;
			line-height: 3.1rem;
		}
		h3 {
			font-size: 1.65rem;
    	line-height: 2.7rem;
		}
	}
	.ra-hero-masonry {
		font-size: 2rem;
		padding-top: 8rem;
		.ra-row {
			@include column-width(33rem);
			@include column-gap(7rem);
		}
		.ra-item {
			display: inline-block;
			padding: .25rem;
			width:  100%;
			margin: 2rem auto;
		}
		.ra-well {
			position:relative;
			display: block;
			max-width: 33rem;
			margin-left: auto;
			margin-right: auto;
			color: $secondary-gray;
			padding-bottom: 4.5rem;
			border-bottom: 2px solid #e5eaed;
			h3 {
				font-family: $museo-bold;
				line-height: 3rem;
				font-size: 2.4rem;
				margin-bottom: 0.5rem;
			}
			h4 {
				font-family: $museo-light;
				font-size: 2rem;
				margin-top: 0;
				margin-bottom: 3.5rem;
			}
			p {
				font-size: 1.8rem;
				line-height: 3.6rem;
			}
			a {
				font-size: 1.4rem;
				font-family: $museo-regular;
				line-height: 1.8rem;
				text-transform: uppercase;
				color: $link-blue;
				&:hover {
					text-decoration: none;
					color: darken($link-blue, 15);
				}	
			}
			img, a {
				display: inline-block;
			}
			img {
				max-width: 100%;
				height: auto;
				//hero tv borders
			}
			.ra-quote {
				margin-top: 0;
				margin-bottom: 3.5rem;
			}
			.ra-social-icon {
				margin: 0;
				padding: 0;
				float: right;
			}
			.video-thumb, .thumb {
				position: relative;
				margin-bottom: 3.5rem;
				.video-thumb-play-button {
					width: 6.5rem;
					height: 6.5rem;
					overflow: auto;
					margin: auto;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					border: 0;
				}
				img {
					border: 1px solid $tertiary-gray;
				}
			}

			.video-thumb:hover {
				opacity: 0.8;
				cursor: pointer;
			}
		}
	}
	@media (min-width: 768px) {
		.ra-banner {
			h1 {
				font-size: 4.5rem;
				line-height: 5.8rem;
			}
			h3 {
				font-size: 2rem;
				line-height: 3rem;
			}
		}
	}
	@media (min-width: 992px) {
		.ra-banner {
			h1 {
				font-size: 5rem;
				line-height: 6.2rem;
			}
			h3 {
				font-size: 2.4rem;
				line-height: 3.6rem;
			}
		}
	}
}